.container-fr {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    gap: 20px;
    justify-items: center; 
    margin-bottom: 10px;
}

@media (max-width: 735px) {
    .container-fr {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}


@media (max-width: 340px) {
    .container-fr {
        height: 500px;
        max-height: 500px;
    }
}
