.button-atom {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #00cfff;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button-atom {
  font-size: 0.9rem;
  padding: 0.3rem 1rem; 
  transition: all 0.3s ease; 
}

.button-atom:hover {
  background-color: #00cfff;
  color: #000000;
  transition: all 0.4s ease;
}