.song-table {
    background-color: #2c2a2ac5;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.song-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.song-name {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}